body.dark-theme {
    background-color: #1a1a1a;
    color: #fff;
}

body.dark-theme #header {
    background-color: #2c2c2c;
    border-bottom: 1px solid #444;
}

body.dark-theme #head {
    color: #fff;
}

body.dark-theme .container {
    background-color: #2c2c2c;
    border-color: #444;
}

body.dark-theme #screen {
    background-color: #1a1a1a;
    border-color: #444;
}

body.dark-theme #innercontent {
    color: #fff;
}

body.dark-theme .topic_header {
    color: #00ff00;
}

body.dark-theme a {
    color: #33a3ff;
}

body.dark-theme #footer {
    background-color: #2c2c2c;
    border-top: 1px solid #444;
}

body.dark-theme .social-icons a i {
    color: #fff;
}

body.dark-theme .project-button {
    background-color: #007bff;
    color: #fff;
}

body.dark-theme #theme-toggler i {
  color: #fff;
}
